.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.form-section {
    width: 40%;
}

.preview-section {
    width: 50%;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.preview-content {
    border: 1px solid #ccc;
    padding: 10px;
}

.preview-content p {
    margin: 0;
}

.preview-content p strong {
    display: inline-block;
    width: 100px;
}
